.homeContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 0;
}

.homeUL {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.imgNdIcon {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.eachCoin {
  padding: 20px 20px;
  background-color: #4369B0;
  color: #fff;
}

.eachCoin:nth-child(4n+2),
.eachCoin:nth-child(4n+3){    
  background: #4063A6;
}

.coinImage img {
  width: 80px;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}
